*{
    margin: 0;
    padding: 0;
}

.port-div1{
    margin: auto;
    height: 45em;
    width: 50em;
    border: 2px solid black;
    background-color:#629c93;
}

.port-div2{ 
    margin: 30px;
    padding: 30px;
    background-color: darkslategrey; 

    
}